<h1>My Workspaces</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Last updated</th>
  </tr>
<% @workspaces.each do |workspace| %>
  <tr>
    <td><%= link_to workspace.name, workspace %></td>
    <td><%= workspace.tasks_updated_at %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Workspace', new_workspace_path %>
