#new_ticket {

  div.field {
    margin-bottom: 0px;
    margin-top: 5px;

    &.subject {
      label {
        display: none;
      }
    }

    &.points {
      display: none;
    }

    &.description {
      display: none;
    }
  }

  .actions {

  }
}
